body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 2;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 70px 0;
}

.profile-img {
  width: 150px;
  height: 160px;
}

.intro {
  text-align: justify;
  margin: auto 50px auto 50px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}
.copyright {
  color:#EAF6F6;
  font-size: 75%;
  padding: 20px 0;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 10px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 65%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.java-img {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.js-img {
  width: 40%;
  float: right;
  margin-left: 30px;
}

hr {
  background-color: white;
  border: dotted #EAF6F6;
  border-width: 10px 0 0 0;
  width: 150px;
  margin: 100px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}
